.li1{
    // text-align: center;
    font-size: 25px;
    color:darkcyan
   
}
.li2{
    // text-align: center;
    font-size: 25px;
    color:darkcyan

}
.li3{
    // text-align: center;
    font-size: 25px;
    border-radius: 25px;

    color: darkcyan
}
.li4{
    // text-align: center;
    font-size: 25px;
    color: darkcyan
}
.li5{
    // text-align: center;
    font-size: 25px;
    color: darkcyan;
}
.li6{
    // text-align: center;
    font-size: 25px;
    color: darkcyan
}
.li7{
    // text-align: center;
    font-size: 25px;
    color: darkcyan
}
.li8{
    // text-align: center;
    font-size: 25px;
    color: darkcyan
}
.li9{
    // text-align: center;
    font-size: 25px;
    color: darkcyan
}
.li10{
    // text-align: center;
    font-size: 25px;
    color: darkcyan
}

.card {
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
.hasError{
    color:red;
}