<h1>Dashboard Works!!</h1>
<form>
    <div class="input li1">
        <label>Name:</label>
        <input type="text" placeholder="Enter your name"><br>
    </div><br>
    <div class="input li2">
        <label>E-mail id:</label>
        <input type="text" placeholder="Enter your E-mail id"><br>
    </div><br>
    <div class="input li3">
        <label>Age:</label>
        <input type="text" placeholder="Enter your Age"><br>
    </div><br>
    <div class="input li4">
        <label>Ph no:</label>
        <input type="text" placeholder="Enter your Ph no"><br>
    </div><br>
    <div class ="input li5">
        <input type="submit" value="submit">
    </div>
</form>
