.li1{
    text-align: center;
    font-size: 25px;
    color: darkcyan
   
}
.li2{
    text-align: center;
    font-size: 25px;
    color:darkcyan

}
.li3{
    text-align: center;
    font-size: 25px;
    border-radius: 25px;

    color: darkcyan
}
.li4{
    text-align: center;
    font-size: 25px;
    color: darkcyan
}
.li5{
    text-align: center;
    font-size: 50px;
}
h1{
    color: rgb(139, 107, 0);
}
::placeholder{
    border-radius: 100px;
    box-sizing: content-box;
}